-- Create stored procedure to create dim_priority table

CREATE PROCEDURE [dbo].[sp_create_dim_priority] AS

BEGIN
DROP TABLE [computerstg].[dbo].[dim_priority];

CREATE TABLE [computerstg].[dbo].[dim_priority](
[Priority_Id] [INT] Identity (1,1) PRIMARY KEY,
[Priority_Name] [nvarchar] (50) NOT NULL,
[LoadDate] DATETIME DEFAULT GETDATE()
)
INSERT INTO [computerstg].[dbo].[dim_priority](
[Priority_Name],
[LoadDate]
)

SELECT DISTINCT
[Priority],
GETDATE()
FROM [computerstg].[dbo].[raw_data]

SELECT *
FROM [computerstg].[dbo].[dim_priority]

END
