--Create stored procedure to create dim_specification table 

CREATE  PROCEDURE [dbo].[sp_create_dim_specifications] AS

BEGIN
DROP TABLE [computerstg].[dbo].[dim_specifications]

CREATE TABLE [computerstg].[dbo].[dim_specifications](
[Spec_Id] [INT] Identity (1,1) PRIMARY KEY,
[Storage_type] [nvarchar] (50) NOT NULL,
[RAM] [nvarchar] (50) NOT NULL,
[Storage_capacity] [nvarchar] (50) NOT NULL,
[LoadDate] DATETIME DEFAULT GETDATE()
)

INSERT INTO [computerstg].[dbo].[dim_specifications](
[Storage_type],
[RAM],
[Storage_capacity],
[LoadDate]
)

SELECT DISTINCT
[Storage_Type],
[RAM],
[Storage_Capacity],
GETDATE()
FROM [computerstg].[dbo].[raw_data]

SELECT *
FROM [computerstg].[dbo].[dim_specifications]

END