-- Create stored procedure to create dim_salesperson table

CREATE PROCEDURE [dbo].[sp_create_dim_salesperson] AS

BEGIN

DROP TABLE [computerstg].[dbo].[dim_salesperson]

CREATE TABLE [computerstg].[dbo].[dim_salesperson] (
[Salesperson_Id] [INT] Identity (1,1) PRIMARY KEY,
[Salesperson_name] [nvarchar] (50) NOT NULL,
[Salesperson_department] [nvarchar] (50) NOT NULL,
[LoadDate] DATETIME DEFAULT GETDATE()
)

INSERT INTO [computerstg].[dbo].[dim_salesperson](
[Salesperson_name],
[Salesperson_department],
[LoadDate]
)

SELECT DISTINCT
[Sales_Person_Name],
[Sales_Person_Department],
GETDATE()
FROM [computerstg].[dbo].[raw_data]

SELECT * FROM [computerstg].[dbo].[dim_salesperson]

END
